ul {
  list-style-type: none; 
  background-color: rgb(197, 99, 33);
}

li {
  float: left;
  font-size: 120%;
}

li a {
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  color: aliceblue;
}

.toolbar {
  display: flex;
  align-items: center;
  position: fixed; /*fais en sorte que la barre de menu reste toujours en haut de l'écran*/
  top: 0;
  width: 100%;
  background-color: rgb(197, 99, 33);
}